body{
  background-color:grey;
}
.red-button{
  background-color:red;
}

.black-button{
  background-color:black;
  margin: 4px 2px;
  padding: 10px 15px;
}

.black-button:hover {background-color: #000000}

.black-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.calculator-display{
  border:thin;
  border-radius:25px;
  margin: 10px 10px;
  padding: 1px 20px 1px;
  background-color:green;
}

.calculator{
  box-shadow: 10px 10px 5px black;
  background-color:white;
  width:250px;
}
